body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
}

.section-header {
    margin-top: 20px;
}

.products_wrapper {
    margin: 30px 10px 40px 10px;
    display: grid;
    grid-template-columns: repeat(2, 170px);
    column-gap: 15px;
    row-gap: 25px;
    justify-content: center;
}

.img {
    width: 100%;
    border-radius: 15px;

}

.item {
    text-align: center;
    display: flex;
    flex-direction: column;

}
.title {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    flex-grow: 1;
    
}
.price {
    margin-top: 5;
    font-size: 15px;
    font-weight: 500;
}

.btn {
    align-self: center;
    padding: 10px 10px;
    border: none;
    background: rgb(248, 168, 24);
    border-radius: 10px;
    color: wheat;
    font-weight: 500;

    transition: background .2s linear;
}

.btn:hover {
    background: lightgreen;
}

.added-to-cart {
    display: inline-block;
    padding: 10px 10px;
    border: none;
    background: rgb(204, 49, 49);
    border-radius: 10px;
    color: white;
    font-weight: 500;

    transition: background .2s linear;
}

